.card {
    margin: 0 auto;
    background-color: #191a1a;
    border-radius: 8px;
    z-index: 1;
    color: white;
    /* height: 70dvh;
    width: 80dvw; */
    margin-top: 8dvh;
}

.tools {
    padding: 9px;
    background-color: inherit;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.circle {
    display: inline-flex;
    padding: 0 4px;
}

.box {
    display: inline-block;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}

.red {
    background-color: #ff605c;
}

.yellow {
    background-color: #ffbd44;
}

.green {
    background-color: #00ca4e;
}

.content--sticky {
    position: sticky;
    --offset: 10dvh;
    top: var(--offset);
    height: calc(100vh - var(--offset));
}

.card__content{
    height: 90%;
}

.project__img{
    width: 75dvw;
    height: 20dvh;
}

@media (min-width: 1024px) {
    .card{
        width: 65dvw !important;
    }
    .project__img{
        width: 28dvw;
        height: 40dvh;
    }
}