.card {
    margin: 0 auto;
    background-color: #191a1a;
    border-radius: 8px;
    z-index: 1;
    color: white;
    margin-top: 8dvh;
    box-shadow: " 0px 8px 10px #000000";
}

.tools {
    padding: 9px;
    background-color: inherit;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.circle {
    display: inline-flex;
    padding: 0 4px;
}

.box {
    display: inline-block;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}

.red {
    background-color: #ff605c;
}

.yellow {
    background-color: #ffbd44;
}

.green {
    background-color: #00ca4e;
}

.content--sticky {
    position: sticky;
    --offset: 10dvh;
    top: var(--offset);
    height: calc(100vh - var(--offset));
}

.card__content {
    height: 90%;
}

.project__img__container {
    width: 75dvw;
    height: 20dvh;
}

.project__img {
    width: 100%;
    height: -webkit-fill-available;
    max-width: max-content;
    max-height: min-content;
    border-radius: 0.5rem;
    box-shadow: 0px 8px 10px #000000;
}

.project__description {
    max-height: 24dvh;
    overflow: auto;
    color: rgb(255 255 255 / 75%);
}

@media (min-width: 1024px) {
    .card {
        width: 65dvw !important;
    }
    .project__img__container {
        width: 28dvw;
        height: 40dvh;
    }

    .project__description {
        max-height: 40dvh;
        overflow: auto;
        color: rgb(255 255 255 / 75%);
    }
}
