.loading-screen {
    background-color: #0A090C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  
  .loading-text {
    color: #ffffff;
    font-size: 2rem;
  }
  